@use '../vars.scss';

.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    display: flex;
    align-items: center;
    background-color: vars.$background-primary;

    @include vars.mobile {
        min-height: 80px;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-right: auto;
    }

    &__logo-img {
        width: 197px;
        height: 32px;
        object-fit: contain;

        @include vars.mobile {
            width: 173px;
            height: 28px;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 24px;
        max-width: 1200px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 24px;

        @include vars.mobile {
            padding: 0 16px;
        }
    }

    &__links {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        @include vars.tablet {
            display: none;
        }
    }

    &__link {
        display: flex;
        border-bottom: 2px solid transparent;
        padding: 12px 24px;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        color: inherit;
        text-decoration: none;
        transition: border-color 0.2s;

        &:hover {
            border-bottom-color: vars.$red-500;
        }
    }
}
