mixin icon-curet(className='')
    svg( width="32" height="32" viewBox="0 0 32 32" fill="none" class=className)
        path(d="M8.13602 10.6666C6.70402 10.6666 5.93868 12.3533 6.88268 13.4306L14.244 21.844C14.463 22.0942 14.733 22.2948 15.0359 22.4322C15.3387 22.5697 15.6674 22.6408 16 22.6408C16.3326 22.6408 16.6613 22.5697 16.9642 22.4322C17.267 22.2948 17.537 22.0942 17.756 21.844L25.1187 13.4306C26.0613 12.3533 25.296 10.6666 23.8653 10.6666H8.13468H8.13602Z" fill="currentColor")

