block footer
    include ../components/button.pug

    footer.footer
        .footer__content
            .footer__block
                a.footer__logo(href="/")
                    img.footer__logo-img(src="img/logo-black.png")
                .footer__copyright © 2025, Все права защищены
            .footer__block
                ul.footer__links
                    li.footer__links-element
                        a.footer__link(href="") Блог
                    li.footer__links-element
                        a.footer__link(href="agreement") Пользовательское соглашение
                    li.footer__links-element
                        a.footer__link(href="details") Реквизиты
                    li.footer__links-element
                        a.footer__link.js-support-button Остались вопросы? Свяжитесь с нами
