block footer
    include ../components/button.pug

    footer.footer
        .footer__content
            .footer__block
                a.footer__logo(href="/")
                    img.footer__logo-img(src="img/logo-black.png")
                a.footer__tel(href="tel:+79778059828") +7 (977) 805-98-28
                .footer__copyright © 2025, Все права защищены. 
                    br.footer__copyright-br
                    span Проект 
                        a(href='wazapa.ru') wazapa.ru
            .footer__block
                ul.footer__links
                    li.footer__links-element
                        a.footer__link(href="blog") Блог
                    li.footer__links-element
                        a.footer__link(href="agreement") Пользовательское соглашение
                    li.footer__links-element
                        a.footer__link(href="details") Реквизиты
                    li.footer__links-element
                        a.footer__link.js-support-button Остались вопросы? Свяжитесь с нами
