block header
    include ../components/button.pug

    - var headerClass = page === 'integration' ? 'header_integration' : ''

    header.header(class=headerClass)
        .header__content
            a.header__logo(href='/')
                img.header__logo-img(src='img/logo.png')
            if page != 'integration'
                ul.header__links
                    li
                        a.header__link(href='#data') Данные
                    li
                        a.header__link(href='#question') Вопросы и ответы
                    li
                        a.header__link(href='#tariff') Тарифы
                    li
                        a.header__link(href='tel:+79778059828') +7 (977) 805-98-28
                .header__login
                    +button({text: 'Войти', theme: 'secondary', size: 'l', className: 'header__button-login js-auth-button'})
