@use '../vars.scss';

.section {
    display: flex;
    flex-direction: column;
    padding: 96px 0;
}

.promo {
    padding: 64px 0 192px;
    background-image: url('../img/graph.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    &__text {
        position: relative;
        display: flex;
        padding-left: 44px;
        margin: 0 0 32px;
        font-weight: 600;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            height: 4px;
            border-radius: 20px;
            background-color: vars.$red-500;
        }
    }
}

.description {
    width: 100vw;
    margin-left: calc((1152px - 100vw) / 2);
    background-color: vars.$red-500;

    &__text {
        max-width: 1176px;
        padding: 0 12px;
        margin: 0 auto;
        font-size: 32px;
        font-weight: 600;
        line-height: 44px;
        color: vars.$text-primary-invert;
    }
}

.reports {
    gap: 32px;

    &__description {
        max-width: 720px;
    }
}

.reports-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;

    &__block {
        display: flex;
        flex-direction: column;
        gap: 64px;
        padding: 32px;
        border-radius: 2px;
        background-color: vars.$darkner-4;

        &:first-child {
            grid-row: 1 / 3;
        }

        &_low {
            gap: 32px;

            .reports-grid__title-block {
                padding-bottom: 0;
            }

            .reports-grid__title {
                font-size: 24px;
                line-height: 32px;
            }

            .reports-grid__prices {
                flex-direction: row;
                gap: 48px;
            }

            .reports-grid__price {
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
            }
        }
    }

    &__title-block {
        display: flex;
        padding-bottom: 40px;
    }

    &__title {
        font-size: 32px;
        font-weight: 600;
        line-height: 44px;
    }

    &__prices {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: auto;
    }

    &__prices-block {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__price-text {
        font-size: 16px;
        line-height: 24px;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 48px;
        font-weight: 400;
        line-height: 58px;

        &_red {
            color: vars.$red-500;
        }

        &_green {
            color: vars.$green-500;
        }
    }

    &__price-icon {
        width: 32px;
        height: 32px;

        &_revert {
            transform: rotate(180deg);
        }
    }
}

.statistics {
    width: 100vw;
    margin-left: calc((1152px - 100vw) / 2);
    background-color: vars.$text-primary;
    color: vars.$text-primary-invert;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 64px;
        max-width: 1176px;
        padding: 0 12px;
        margin: 0 auto;
    }

    &__blocks {
        display: flex;
        gap: 64px;
    }

    &__block {
        display: flex;
        flex-direction: column;
    }

    &__block-title {
        font-size: 68px;
        line-height: 82px;
        letter-spacing: -1.36px;
    }

    &__block-text {
        font-size: 20px;
        line-height: 32px;
    }

    &__description {
        padding-top: 16px;
        border-top: 2px solid rgba(255, 255, 255, 0.24);
        color: vars.$background-primary;
        opacity: 0.72;
    }
}

.access {
    width: 100vw;
    padding-bottom: 128px;
    margin-left: calc((1152px - 100vw) / 2);
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 1176px;
        padding: 0 12px;
        margin: 0 auto;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
}

.access-card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    border-radius: 2px;
    background-color: vars.$darkner-4;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    &__sub-title {
        font-size: 16px;
        line-height: 24px;
    }

    &__price {
        display: flex;
        align-items: baseline;
        gap: 4px;
    }

    &__price-number {
        font-size: 48px;
        line-height: 58px;
    }

    &__price-text {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }
}

.blog {
    width: 100vw;
    padding-bottom: 128px;
    margin-left: calc((1152px - 100vw) / 2);

    &__content {
        overflow: scroll;
        display: flex;
        gap: 32px;
        max-width: 100vw;
        padding: 0 calc((100vw - 1152px) / 2);
        margin: 0 auto;

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #d6d6d6;
        }

        &::-webkit-scrollbar-track {
            background-color: #fff;
            border-radius: 10px;
        }
    }
}

.blog-item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 480px;

    &__img-wrapper {
        display: flex;
    }

    &__img {
        width: 480px;
        height: 400px;
        object-fit: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 32px 16px;
    }

    &__tags {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 8px;
    }

    &__tag {
        display: flex;
        padding: 4px 12px;
        border-radius: 2px;
        font-size: 16px;
        line-height: 24px;

        &_blue {
            background-color: vars.$link-100;
        }

        &_green {
            background-color: vars.$green-100;
        }

        &_red {
            background-color: vars.$red-100;
        }
    }

    &__time {
        font-size: 16px;
        line-height: 24px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        color: inherit;
        text-decoration: none;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
    }
}
