@use '../vars.scss';

.section {
    display: flex;
    flex-direction: column;
    padding: 96px 0;

    @include vars.tablet {
        padding: 48px 0;
    }

    @include vars.mobile {
        padding: 24px 0;
    }
}

.promo {
    width: 100vw;
    margin-left: calc((1152px - 100vw) / 2);
    padding: 64px 0 192px;
    background-image: url('../img/graph.png');
    background-repeat: no-repeat;
    background-size: 1152px;
    background-position: bottom;

    @include vars.tablet {
        margin-left: -24px;
        background-size: auto 294px;
        background-position: 144px bottom;
    }

    @include vars.mobile {
        margin-left: -16px;
        padding: 24px 0 192px;
        background-position: bottom;
        background-size: auto 196px;
    }

    &__content {
        max-width: 1200px;
        padding: 0 24px;
        margin: 0 auto;

        @include vars.mobile {
            padding: 0 16px;
        }
    }

    @include vars.tablet {
        padding: 48px 0 192px;
    }

    &__text {
        display: flex;
        gap: 12px;
        margin: 0 0 32px;
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;

        @include vars.mobile {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__text-icon {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        color: vars.$green-500;
        transform: rotate(180deg);

        @include vars.mobile {
            width: 24px;
            height: 24px;
        }
    }
}

.description {
    width: 100vw;
    margin-left: calc((1152px - 100vw) / 2);
    background-color: vars.$red-500;

    @include vars.tablet {
        margin-left: -24px;
        background-size: auto 294px;
        background-position: 144px bottom;
    }

    @include vars.mobile {
        margin-left: -16px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 1200px;
        padding: 0 24px;
        margin: 0 auto;

        @include vars.mobile {
            padding: 0 16px;
        }
    }

    &__text {
        margin: 0;
        font-size: 32px;
        font-weight: 600;
        line-height: 44px;
        color: vars.$text-primary-invert;

        @include vars.mobile {
            font-size: 24px;
            line-height: 32px;
        }
    }
}

.reports {
    gap: 32px;

    @include vars.mobile {
        gap: 24px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__description-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 64px;

        @include vars.tablet {
            flex-direction: column;
            gap: 32px;
        }

        @include vars.tablet {
            gap: 24px;
        }

        button {
            flex-shrink: 0;
        }
    }

    &__description {
        @include vars.mobile {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.reports-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 32px;

    @include vars.tablet {
        gap: 24px;
    }

    @include vars.mobile {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 56px;
        padding: 32px;
        border-radius: 2px;
        background-color: vars.$darkner-4;

        @include vars.tablet {
            gap: 32px;
        }

        &:first-child {
            grid-row: 1 / 3;
        }

        &_low {
            gap: 32px;

            .reports-grid__title-block {
                padding-bottom: 0;
            }

            .reports-grid__title {
                font-size: 24px;
                line-height: 32px;
            }

            .reports-grid__prices {
                flex-direction: row;
                gap: 48px;
                // margin-top: 0;

                @include vars.mobile {
                    justify-content: space-between;
                    gap: 24px;
                }
            }

            .reports-grid__price-icon {
                width: 24px;
                height: 24px;
            }

            .reports-grid__price {
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
            }
        }
    }

    &__title-block {
        display: flex;

        @include vars.tablet {
            padding-bottom: 32px;
        }

        @include vars.mobile {
            padding-bottom: 0;
        }
    }

    &__title {
        font-size: 32px;
        font-weight: 600;
        line-height: 44px;

        @include vars.mobile {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__prices {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: auto;

        @include vars.mobile {
            flex-direction: row;
            justify-content: space-between;
            gap: 24px;
        }
    }

    &__prices-block {
        display: flex;
        flex-direction: column;
        gap: 4px;

        @include vars.mobile {
            gap: 8px;
        }
    }

    &__price-text {
        font-size: 16px;
        line-height: 24px;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 68px;
        font-weight: 600;
        line-height: 82px;

        @include vars.mobile {
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
        }

        &_red {
            color: vars.$red-500;
        }

        &_green {
            color: vars.$green-500;
        }
    }

    &__price-icon {
        flex-shrink: 0;
        width: 48px;
        height: 48px;

        @include vars.mobile {
            width: 24px;
            height: 24px;
        }

        &_revert {
            transform: rotate(180deg);
        }
    }
}

.questions {
    gap: 32px;
}

.statistics {
    width: 100vw;
    margin-left: calc((1152px - 100vw) / 2);
    background-color: vars.$text-primary;
    color: vars.$text-primary-invert;

    @include vars.tablet {
        padding-bottom: 24px;
        margin-left: -24px;
    }

    @include vars.mobile {
        padding-bottom: 16px;
        margin-left: -16px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 64px;
        max-width: 1200px;
        padding: 0 24px;
        margin: 0 auto;

        @include vars.tablet {
            gap: 32px;
        }

        @include vars.mobile {
            padding: 0 16px;
            gap: 24px;
        }
    }

    &__blocks {
        display: flex;
        gap: 64px;

        @include vars.tablet {
            gap: 24px;
        }

        @include vars.mobile {
            flex-direction: column;
            gap: 12px;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
    }

    &__block-title {
        font-size: 68px;
        line-height: 82px;
        letter-spacing: -1.36px;

        @include vars.tablet {
            font-size: 48px;
            line-height: 58px;
            letter-spacing: 0;
        }
    }

    &__block-text {
        font-size: 20px;
        line-height: 32px;

        @include vars.tablet {
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__description {
        padding-top: 16px;
        border-top: 2px solid rgba(255, 255, 255, 0.24);
        color: vars.$background-primary;
        opacity: 0.72;

        @include vars.tablet {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.access {
    width: 100vw;
    padding-bottom: 128px;
    margin-left: calc((1152px - 100vw) / 2);
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;

    @include vars.tablet {
        padding-top: 64px;
        margin-left: -24px;
        background-size: auto 460px;
    }

    @include vars.mobile {
        padding-top: 24px;
        margin-left: -16px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 1200px;
        padding: 0 12px;
        margin: 0 auto;

        @include vars.tablet {
            gap: 32px;
            padding: 0 24px;
        }

        @include vars.mobile {
            padding: 0 16px;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        @include vars.mobile {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }
}

.access-card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 32px;
    border-radius: 2px;
    background-color: vars.$darkner-4;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }

    &__sub-title {
        font-size: 16px;
        line-height: 24px;
    }

    &__price {
        display: flex;
        align-items: baseline;
        gap: 4px;
        margin-top: auto;
    }

    &__price-number {
        font-size: 48px;
        line-height: 58px;
    }

    &__price-text {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }
}

.blog {
    overflow: hidden;
    width: 100vw;
    padding-bottom: 128px;
    margin-left: calc((1152px - 100vw) / 2);

    @include vars.tablet {
        margin-left: -24px;
        padding-bottom: 48px;
    }

    @include vars.mobile {
        margin-left: -16px;
        padding-bottom: 24px;
    }

    &__content {
        max-width: 100vw;
        padding: 0 calc((100vw - 1152px) / 2);
        margin: 0 auto;

        @include vars.tablet {
            padding: 0 24px;
        }

        @include vars.mobile {
            padding: 0 16px;
        }

        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #d6d6d6;
        }

        &::-webkit-scrollbar-track {
            background-color: #fff;
            border-radius: 10px;
        }
    }
}

.blog-item {
    display: flex;
    flex-direction: column;
    width: 480px;

    @include vars.mobile {
        width: 328px;
    }

    &__img-wrapper {
        display: flex;
    }

    &__img {
        width: 480px;
        height: 400px;
        object-fit: cover;

        @include vars.mobile {
            width: 328px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 32px 16px;
    }

    &__tags {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 8px;
    }

    &__tag {
        display: flex;
        padding: 4px 12px;
        border-radius: 2px;
        font-size: 16px;
        line-height: 24px;

        &_blue {
            background-color: vars.$link-100;
        }

        &_green {
            background-color: vars.$green-100;
        }

        &_red {
            background-color: vars.$red-100;
        }
    }

    &__time {
        font-size: 16px;
        line-height: 24px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        color: inherit;
        text-decoration: none;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
    }
}

.call-button {
    display: none;
    position: fixed;
    right: 16px;
    bottom: 32px;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-radius: 99px 99px 0 99px;
    background-color: vars.$green-500;
    border: none;
    cursor: pointer;

    @include vars.mobile {
        display: flex;
    }

    &__icon {
        width: 32px;
        height: 32px;
        color: vars.$text-primary-invert;
    }
}
