include ../icons/icon-cross.pug
include ../components/button.pug
include ../components/text-input.pug
include ../components/text-area.pug
include ../components/pass-input.pug
include ../components/checkbox.pug

mixin popup-support()
    .popup-auth.hidden.js-popup-support
        .popup-auth__box
            .popup-auth__header
                button.popup-auth__button.js-close-popup(type="button")
                    +icon-cross('popup-auth__icon')
            .popup-auth__content
                .popup-auth__content-title-wrapper
                    .popup-auth__content-title Остались вопросы? Свяжитесь с нами
                form.popup-auth__form(action="")
                    +text-input({ alert: 'Не указан email', placeholder: 'Укажите ваш телефон или email', className: 'popup-auth__form-email'})
                    +text-area({label: 'Текст сообщения', className: 'popup-auth__form-textarea'})
                    .checkbox-wrapper.popup-auth__checkbox
                        .checkbox
                            input(type="checkbox" id='checkbox-oferta-support' name='auth-oferta' checked=false)
                            label.checkbox__label(for='checkbox-oferta-support')
                                +icon-ok('checkbox__icon-ok')
                                div Я подтверждаю, что ознакомлен с условиями
                                a(href='/') Пользовательского соглашения
                                span  и соглашаюсь с 
                                a(href='/') Правилами использования и обработки персональных данных
                                .checkbox__alert Необходимо ваше подтверждение
                    img.popup-auth__captcha(src='img/captcha.png')
                    +button({text: 'Отправить', size: 'l', className: 'popup-auth__apply-button'})
