doctype html
html
    block variables
    head
        meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1")
        meta(content="", name="Description")
        meta(content="", name="Keywords")
        meta(content="index,follow", name="robots")
        title Trendista Global
        //- link(rel="stylesheet" href="libs/splide-core-min.css")
        link(rel="stylesheet" href="css/index.css")
    body
        block header
            include includes/header.pug

        block content

        if page != 'integration'
            block footer
                include includes/footer.pug

        block popup
            include components/popup-auth.pug
            include components/popup-forgot-pass.pug
            include components/popup-login.pug
            include components/popup-support.pug
            include components/popup-thanks.pug

            +popup-auth()
            +popup-forgot-pass()
            +popup-login()
            +popup-support()
            +popup-thanks()

    script(src='libs/splide.min.js')
    script(src="js/index.js")
