extends ../layout.pug

block variables
    - var hasLogin = 'true'

block content
    //- include ../includes/header.pug
    //- include ../components/button.pug
    //- include ../components/text-input.pug
    //- include ../components/text-area.pug

    .main