@use 'reset';
@use 'fonts';
@use 'vars';

@use './components/header.scss';
@use './components/footer.scss';
@use './components/button.scss';
@use './components/accordion.scss';
@use './components/checkbox.scss';
@use './components/popup-auth.scss';
@use './components/text-input.scss';

@use './pages/index.scss';

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

body {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 400;
    font-family: vars.$main-font;
    color: vars.$text-primary;
    background-color: vars.$background-primary;
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 1176px;
    min-height: calc(100vh - 432px);
    padding: 0 12px 0;
    margin: 100px auto 0;
}

.heading1 {
    margin: 0 0 48px;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
}

.heading2 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
}

.sub-heading {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.hidden {
    display: none !important;
}

.transparent {
    opacity: 0 !important;
}

.body-lock {
    overflow: hidden;
}
